/*开发豆原创源码，唯一官网：www.kaifadou.com*/
body {  margin: 0;text-align:left;font-size: 14px; background:#eaeaea;font-family:arial,"Microsoft YaHei","\5fae\8f6f\96c5\9ed1"}
.newlist{ overflow:hidden;}
.newlist .newsoft{ width:550px; padding:15px 20px;}
.newlist .newarc{ width:550px;padding:15px 20px;}
.m-tith4 {height: 24px;line-height: 24px;font-size: 18px;color: #333;text-indent: 15px;margin-bottom: 8px;}
.m-tith4 i {width: 5px;height: 24px;background: #00aaff;float: left;}
.m-tith4 span{cursor: pointer;width: 38px;height: 15px;float: right;margin:8px 0px 0 0;display: inline;overflow: hidden;background: url(../images/icobox.png) no-repeat -4px -510px;}
.m-tith4 span a{width: 38px;height: 15px; display: block;}
.g-title span:hover{background:url(../images/icobox.png) no-repeat -163px -510px;}
.g-title span a{width: 38px;height: 15px; display: block;}
.newlist li {font-size:14px; height:36px; line-height:36px;padding-right:8px; overflow:hidden;font-family:"Microsoft YaHei";}
.newlist li span, .newlist li span a {color:#535353;font-family:"Microsoft YaHei";}
.newlist li span {margin-right:6px;}
.newlist .even { background:#f5f5f5;}
.newlist li em { font-style:normal; font-size:12px; float:right; color:#999;}
.newlist li em font {color:#000 !important;}
.newsoft {float:left; width:480px;}
.newsoft a {color:#287c1a;font-family:"Microsoft YaHei";}
.newarc a {color:#c45a19;font-family:"Microsoft YaHei";} 
.newlist a:hover{ color:red;}
.m-img404{ text-align:center; overflow:hidden;}
.m-zdtz {width: 310px;margin: 0 auto;background: url(../images/loading2.gif) no-repeat left 10px;padding-left: 20px;line-height: 34px;color: #333;}
.m-zdtz a{ color:red;}
.m-atz {text-align: center;padding:20px 0px 30px 0;}
.m-atz a {height: 108px;display: inline-block;height: 36px;background: #ff6b6b;border-bottom: 4px #fb2d2d solid;color: #fff;line-height: 36px;padding: 0 20px;margin: 0 10px;}



































