/*开发豆原创源码，唯一官网：www.kaifadou.com*/
/*--------*/
.g-main-bg{ background-color: #fff; box-shadow: 0px 1px 3px #ccc;}
.g-nav { height: 16px;line-height: 16px;font-size: 14px; font-weight: normal;color: #333;padding: 14px 0 11px; }
.g-nav span { float: left; width: 16px; height: 16px; background: url(https://www.qqtn.com/skin/new2016/images/ku-icon.png) no-repeat;; margin:0px 10px 0 0 ; }

.g-hotico{ overflow: hidden;padding:20px 20px 10px 20px; position: relative; width: 1160px;}
.g-hotico span{ position: absolute; left: 0px; top: 0px; display: block; background: url(../images/g-bbico.png) no-repeat; width: 50px; height: 50px; }
.g-hotico ul li {width:85px;height: auto;float: left;margin: 12px 15px 12px 16px;display: inline;overflow: hidden;}
.g-hotico ul li a {width: 100%;height: auto;display: block;overflow: hidden;}
.g-hotico ul li a img{margin: 0px auto;width: 75px;height:75px;border-radius: 12px;display: block;overflow: hidden;}
.g-hotico ul li a strong {width: 100%;height: 20px;line-height: 20px;font-size: 14px;font-weight: normal;color: #555;text-align: center;margin: 6px 0 0 0;display: block;overflow: hidden;}
.g-hotico ul li a:hover strong{ color:#f40;}
.g-hotico ul li a b{margin: 0px auto; display: block; width:45px; height:45px;padding:15px;border-radius: 12px; background-color: #f60; color: #fff; font-size: 16px; font-weight: normal; text-align: center; }
.g-hotico ul li a b{ display: none; }
.g-hotico ul li:hover a b{ display: block; }
.g-hotico ul li:hover a img{ display: none; }
/*----必备 end----*/

.g-zj-class{ overflow: hidden; margin-top: 15px; }
.g-zj-class .m-fl-class{ width: 235px; overflow: hidden; }
.g-zj-class .m-fr-list{ width: 950px; overflow: hidden; padding-bottom:15px; }
.m-tith4 {height: 24px;line-height: 24px;font-size: 18px;color: #333;text-indent: 15px;margin: 15px 0 0;}
.m-tith4 i {width: 5px;height: 24px;background: #00aaff;float: left;}
.m-tith4 span{ cursor: pointer; width: 38px;height: 15px;float: right;margin:8px 15px 0 0;display: inline;overflow: hidden;background:url(../images/icobox.png) no-repeat -4px -510px;  }
.m-tith4 span:hover{background:url(../images/icobox.png) no-repeat -163px -510px;}
.m-tith4 span a{ display:block;width: 38px;height: 15px; }
.g-zj-class .m-fl-class ul{ margin:10px 0px 15px 15px; border-top: 1px dashed  #dedede; }
.g-zj-class .m-fl-class ul li{ height: 48px;border-bottom: 1px dashed  #dedede; line-height: 48px;  padding: 0px 18px 0px 36px; background: url(../images/m-fl-classico.png) no-repeat 14px 14px;}
.g-zj-class .m-fl-class ul li a{font-weight: bold;font-size: 14px; color: #444; display:block;background: url(../images/m-fl-classico.png) no-repeat 144px -105px;}
.g-zj-class .m-fl-class ul li a:hover{ color: #00aaff;background: url(../images/m-fl-classico.png) no-repeat 144px -47px;}
.g-zj-class .m-fl-class ul li.m-hover a{color: #00aaff;background: url(../images/m-fl-classico.png) no-repeat 144px -47px;}
/*----class分类 end----*/

.m-fr-box{ overflow: hidden; }
.m-fr-box ul{border-top: 1px solid #ddd; overflow: hidden; margin:10px 15px 0px 0px; padding:16px 16px 0px 16px;}
.m-fr-box ul li{ overflow: hidden; margin-bottom:15px; float:left; width:290px; padding-top: 5px; margin-left:11px; }
.m-fr-box ul li a.g-img {float: left;width: 48px; height:48px;margin-right: 12px; display: block;overflow: hidden;}
.m-fr-box ul li a.g-img img {border-radius: 6px;width: 48px; height:48px;}
.m-fr-box ul li .g-intro {width: 208px;float: left;overflow: hidden;position: relative;}
.m-fr-box ul li .g-name {font-size: 14px;height: 26px;line-height: 26px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.m-fr-box ul li .g-other {font-size: 12px;color: #999;margin-top: 3px;}
.m-fr-box ul li .g-down-link {position: absolute;top: 0;right: 0;height: 100%;background: #fff;padding-left: 2px;box-shadow: -10px 0 10px #fff;}
.m-fr-box ul li .g-down-link a {border-radius:4px;display: none;width: 56px;height:24px;line-height: 24px;text-align: center;color: #09f;background: #fff;letter-spacing: 1px;margin-top: 10px;border: 1px solid #00aaff;overflow: hidden;}
.m-fr-box ul li:hover .g-down-link a{ display: block; }
.m-fr-box ul li .g-down-link a:hover{ background: #00aaff; color: #fff;}
.m-fr-box ul li .g-name:hover a { color: #00aaff;}

/*----列表 end----*/