/*开发豆原创源码，唯一官网：www.kaifadou.com*/
/*--------*/
.g-introd{ overflow: hidden; padding: 20px; width: 1160px; }
.g-introd .g-introd-img{ width:600px; height: 300px; overflow: hidden; }
.g-introd .g-introd-img img{width: 600px; height:300px;}
.g-introd .g-introd-msg{ overflow: hidden; width: 535px;height: 300px; }
.g-introd .g-introd-msg h4{ font-weight: bold; font-size: 24px; color: #333; height: 40px; line-height: 40px; overflow: hidden; margin-bottom:5px;  }
.g-introd .g-introd-msg p.g-msg-ico{overflow: hidden; font-size: 16px; height: 36px; line-height: 36px;margin-top:6px;}
.g-introd .g-introd-msg p.g-msg-ico font{ display: block; float: left;  background: url(../images/zt2018img.png) no-repeat left -160px; color: #05a3ff; padding-left:30px; margin-right:40px;  }
.g-introd .g-introd-msg p.g-msg-ico span{ display: block; float: left; background: url(../images/zt2018img.png) no-repeat left -191px; color: #9e9e9e;padding-left:27px;}
.g-introd .g-introd-msg div{width: 100%;height:204px;line-height:34px;font-size: 14px;font-weight: normal;font-family: "microsoft yahei";color: #666;text-indent: 24px;overflow:auto;}

.g-list-box{ overflow:hidden; padding: 20px 0px 0px 0px; }
.g-list-box ul li{float: left; width: 368px; height: 206px; position: relative;z-index:99;background: #fff; margin: 0px 14px 20px 18px;}
.g-list-box ul li:hover .m-shadow{ width: 94%; left: 3%; bottom: -2px;}
.g-list-box ul li .m-shadow {background: #ededed; width: 100%; height: 30px; position: absolute; left: 0; bottom: 0; z-index:9; -webkit-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}
.g-list-box ul li:hover .g-inner{top: -10px; } 
.g-list-box ul li.fistClass .info{padding: 0px 85px 0px 70px;}
.g-list-box ul li.fistClass .g-inner .most-ico{ display: block; }
.g-list-box ul li .g-inner{ z-index:99;background: #fff; position: relative; border: 1px solid #e8e8e8; padding: 15px;height: 176px; top: 0px;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s}
.g-list-box ul li .g-inner p.desc{color: #999; font-size: 14px;line-height:28px;height:56px;overflow: hidden;}
.g-list-box ul li .g-inner p.desc span{ color: #f60; }
.g-list-box ul li .g-inner i.most-ico{ display: none;  background:url(../images/zt2018img.png) no-repeat;position: absolute;left: -7px;z-index:999;top: -7px;width: 112px;height: 112px;}
.g-list-box ul li.one .g-inner i.most-ico{background-position: -8px -9px }
.g-list-box ul li.two .g-inner i.most-ico{background-position: -131px -9px }
.g-list-box ul li.three .g-inner i.most-ico{background-position: -263px -9px }
.g-list-box ul li .g-inner .info{ position: relative; overflow: hidden;}
.g-list-box ul li .g-inner .info p{margin-bottom:10px; height: 22px; line-height: 22px; overflow:hidden;}
.g-inner .info a.name{font-size: 16px;margin-bottom:8px;display: block; height: 24px; line-height: 24px; overflow: hidden; color: #333;}
.g-inner .info a.name:hover{ color: #05a3ff }
.g-inner .info em{ display: block; height:16px;margin-bottom:10px; }
.g-inner .info p span{ display: block; float: left; overflow: hidden; }
.g-inner .info p span.ico{ background:url(../images/zt2018img.png) no-repeat;padding-left:19px;color: #666;}
.g-inner .info p span.time{margin-right: 20px; background-position: -381px -163px;}
.g-inner .info p span.size{background-position: -381px -188px;}
.g-inner .info p span.version{background-position: -380px -209px;}
.g-inner .info .cell{position: absolute;right: 0;top: 0;z-index:99; width:75px;}
.g-inner .info .cell .cell-img{ width:73px; height: 73px; border-radius: 4px; border: 1px solid #e8e8e8;vertical-align: middle;display: table-cell;text-align: center; }
.g-inner .info .cell .cell-img img{max-width: 73px; max-height: 73px; border-radius: 4px}
.g-inner .info .cell .cell-down{ display: block; width: 58px;border: 1px solid #e8e8e8; height: 22px; color: #999; text-align: center; line-height: 22px; text-align: center; margin: 10px auto 0; }
.g-inner .info .cell .cell-down:hover{ background: #05a3ff; color: #fff;border: 1px solid #05a3ff; }

.g-title{ height: 50px; border-bottom:1px solid #efefef;  overflow: hidden;}
.g-title h4{ float: left;font-size: 20px;color: #333; font-weight: bold; height: 50px; line-height: 50px; margin-left:15px; }
.g-ico h4{ background:url(../images/icobox.png) no-repeat -7px -313px; padding-left:40px;}
.g-title span{ cursor: pointer; width: 38px;height: 15px;float: right;margin: 22px 20px 0 0;display: inline;overflow: hidden;background:url(../images/icobox.png) no-repeat -4px -510px;  }
.g-title span:hover{background:url(../images/icobox.png) no-repeat -163px -510px;}
.g-title span a{ display: block;width: 38px;height: 15px; }

.g-collection{ overflow: hidden; }
.g-collection-dome{ overflow: hidden; position: relative; }
.g-collection-dome b {display: block;top:0px;position:absolute;font-family: serif;height: 133px;width: 30px;line-height: 133px;font-size: 30px;font-weight: bold;color: #999;text-align: center;background: #e6e6e6;cursor: pointer;}
.g-collection-dome b:hover{ color:#f60}
.g-collection-dome b.g-scroll-left {left: 18px;}
.g-collection-dome b.g-scroll-right {right: 18px;}
.m-dome-scroll{ overflow:hidden; height: 133px; width: 1100px;margin:0px auto 20px; }
.m-dome-scroll ul li{width: 266px;height: 133px;float: left;margin: 0 4px 0 5px;overflow: hidden; position: relative;}
.m-dome-scroll ul li a {width: 100%;height: 133px;display: block;overflow: hidden;position: relative;zoom: 1;}
.m-dome-scroll ul li a img {width: 100%;height: 133px;display: block;overflow: hidden;}
.m-dome-scroll ul li a em{background: #000;filter: alpha(opacity=70);opacity: 0.7; z-index: 99; position: absolute;bottom: 0px; left: 0px; width: 100%; height: 28px;}
.m-dome-scroll ul li a span{ height: 28px; line-height:28px; z-index: 999; color: #fff; padding: 0px 15px; overflow: hidden; text-align: center; position: absolute; left: 0px; bottom: 0px; width: 246px; font-size: 14px;}
.m-dome-scroll ul li:hover a span{ color: #f60; }

#tooltip{ position:absolute; top:0; left:0; max-width:600px; z-index:999}
#tooltip img{ max-width:600px; height:auto; display:block; overflow:hidden; border:1px solid #ccc;}

.g-maxli-box{ overflow:hidden; padding: 20px 0px 0px 0px; }
.g-maxli-box ul li{float: left; width: 368px; height: 206px; position: relative;z-index:99;background: #fff; margin: 0px 14px 20px 18px;}
.g-maxli-box ul li:hover .m-shadow{ width: 94%; left: 3%; bottom: -2px;}
.g-maxli-box ul li .m-shadow {background: #ededed; width: 100%; height: 30px; position: absolute; left: 0; bottom: 0; z-index:9; -webkit-transition: all 0.4s;-moz-transition: all 0.4s;transition: all 0.4s;}
.g-maxli-box ul li:hover .g-inner{top: -10px; } 
.g-maxli-box ul li.fistClass .info{padding: 0px 25px 0px 110px; position:relative;}
.g-maxli-box ul li.fistClass .g-inner .most-ico{ display: block; }
.g-maxli-box ul li .g-inner{ z-index:99;background: #fff; position: relative; border: 1px solid #e8e8e8; padding: 15px;height: 176px; top: 0px;-webkit-transition: all 0.4s; -moz-transition: all 0.4s; transition: all 0.4s}
.g-maxli-box ul li .g-inner p.desc{color: #999; font-size: 14px;line-height:28px;height:56px;overflow: hidden;}
.g-maxli-box ul li .g-inner p.desc span{ color: #f60; }
.g-maxli-box ul li .g-inner i.max-ico{ display:none; background:url(../images/kw3-icon.png) no-repeat;position: absolute;right: -7px;z-index:999;top: -8px;width: 112px;height: 112px;}
.g-maxli-box ul li.fistClass .g-inner .max-ico {display: block;}
.g-maxli-box ul li.one .g-inner i.max-ico{background-position: 0px -115px }
.g-maxli-box ul li.two .g-inner i.max-ico{background-position: 0px -229px }
.g-maxli-box ul li.three .g-inner i.max-ico{background-position: 0px 0px }
.g-maxli-box ul li .g-inner .info{ position: relative; overflow: hidden;padding-left: 125px;}
.g-maxli-box ul li .g-inner .info p{margin-bottom:10px; height: 22px; line-height: 22px; overflow:hidden;}
.g-maxli-box ul li .g-inner .info a.name{font-size: 16px;margin-bottom:8px;display: block; height: 24px; line-height: 24px; overflow: hidden; color: #333;width: 155px;}
.g-maxli-box ul li .g-inner .info a.name:hover{ color: #05a3ff }
.g-maxli-box ul li .g-inner .info em{ display: block; height:16px;margin-bottom:10px; }
.g-maxli-box ul li .g-inner .info p span{ display: block; float: left; overflow: hidden; }
.g-maxli-box ul li .g-inner .info p span.ico{ background:url(../images/zt2018img.png) no-repeat;padding-left:19px;color: #666;}
.g-maxli-box ul li .g-inner .info p span.time{margin-right: 20px; background-position: -381px -163px;}
.g-maxli-box ul li .g-inner .info p span.size{background-position: -381px -188px;}
.g-maxli-box ul li .g-inner .info p span.version{background-position: -380px -209px;}
.g-maxli-box ul li .g-inner .info .cell{position: absolute;left: 0;top: 0;z-index:99; width:110px;}
.g-maxli-box ul li .g-inner .info .cell p{ display:none; width:110px; height:110px; overflow:hidden; position:absolute; top:0px; left:0px; background:#fff; margin-bottom:0px;}
.g-maxli-box ul li .g-inner .info .cell p img{width:110px; height:110px}
.g-maxli-box ul li .g-inner .info .cell .cell-img{ width:110px; height: 110px; border-radius: 4px; border:none;vertical-align: middle;display: table-cell;text-align: center; }
.g-maxli-box ul li .g-inner .info .cell .cell-img img{width: 110px; height: 110px;border-radius: 14px; max-height:none; max-width:none;}
.g-maxli-box ul li .g-inner .info .cell .cell-down{ display: block; width: 58px;border: 1px solid #e8e8e8; height: 22px; color: #999; text-align: center; line-height: 22px; text-align: center; margin: 10px auto 0; }
.g-maxli-box ul li .g-inner .info .cell .cell-down:hover{ background: #05a3ff; color: #fff;border: 1px solid #05a3ff; }
.g-maxli-box ul li .g-inner .info a.cell-down{display: block;width:53px;border: 1px solid #e8e8e8;height: 22px;color: #999;text-align: center;line-height: 22px;text-align: center;margin: 10px auto 0;top: 19px; position:absolute;
left: 238px;z-index:1000;-moz-left:238px;-webkit-left:235px;}
.g-maxli-box ul li .g-inner .info a.cell-down:hover{ background: #05a3ff; color: #fff;border: 1px solid #05a3ff; }
.g-maxli-box ul li:hover .g-inner .info .cell p{ display:block;}
/*--- ---*/
.g-title{ height: 50px; border-bottom:1px solid #efefef;  overflow: hidden; margin-bottom:20px;}
.g-title h4{ float: left;font-size: 20px;color: #333; font-weight: bold; height: 50px; line-height: 50px; margin-left:15px; }
.g-ico h4{ background:url(../images/icobox.png) no-repeat  -7px -313px; padding-left:40px;}

.g-dome-box{ overflow:hidden; margin:0px 20px 0px 20px; padding-bottom:20px;}
.g-dome-box .m-left-img{ width:320px; overflow:hidden; height:200px;}
.g-dome-box .m-dome-list{ width:820px; overflow:hidden; height:200px; position:relative;}
.g-dome-box .m-dome-list b{display: block;top:75px;position: absolute;font-family: serif;height:70px;width: 28px;line-height: 70px;font-size: 30px;font-weight: bold;color: #999;text-align: center;background: #e6e6e6;cursor: pointer;position: absolute;}
.g-dome-box .m-dome-list b.g-scroll-left{ left:0px;}
.g-dome-box .m-dome-list b.g-scroll-right{ right:0px;}
.g-dome-box .m-dome-list b:hover {color: #f60;}
.g-dome-box .m-dome-list p.m-top-name{ position:relative; height:40px; font-size:18px; color:#333; font-weight:bold; text-indent:24px; border-bottom:1px solid #efefef; line-height:32px;}
.g-dome-box .m-dome-list p.m-top-name i{ position:absolute;width: 14px;height: 7px;display: block;bottom: -7px;left:60px;margin-left: -7px;background: url(../images/down_detailimg.png) no-repeat -135px -72px;}
.g-dome-box .m-dome-list .m-list-show{ margin:30px auto; overflow:hidden; width:750px;}
.g-dome-box .m-dome-list .m-list-show ul li{ float:left; overflow:hidden;text-align: center;width: 105px;z-index: 1;background: #fff; margin:0px 10px;}
.m-list-show ul li a{ display:block; overflow:hidden;}
.m-list-show ul li a img{ width:80px; height:80px;margin: auto;border-radius: 12px;}
.m-list-show ul li a span {width: 105px;height: 14px;line-height: 14px;display: block;overflow: hidden;font-size: 12px;font-weight: normal;text-align: center;margin-top:12px;}
.m-list-show ul li a:hover span{ color:#f60;}


.g-special{ overflow: hidden;margin-top:15px;  }
.g-special .g-title{ width: 100%; }
.g-rj-ico h4{background-position: -7px -368px;}
.g-special .g-special-box{ position: relative; overflow: hidden; }
.g-special .g-special-box b{display: block;top: 15px; position: absolute;font-family: serif;height: 133px;width: 30px;line-height: 133px;font-size: 30px;font-weight: bold;color: #999;text-align: center;background: #e6e6e6;cursor: pointer; position: absolute;}
.g-special .g-special-box b.g-scroll-left{ left: 18px;}
.g-special .g-special-box b.g-scroll-right{right: 18px; }
.g-special .g-special-box b:hover{ color: #f60; }
.g-special-box .m-rp-scroll {width:1100px;margin: 15px auto;overflow: hidden;position: relative;zoom: 1;height: 130px;}
.g-special-box .m-rp-scroll li {width: 260px;height: 130px;float: left;margin:0 5px 0 9px;display: inline;overflow: hidden;}
.g-special-box .m-rp-scroll li a {width: 100%;height: 130px;display: block;overflow: hidden;position: relative;zoom: 1;}
.g-special-box .m-rp-scroll li a img {width: 100%;height: 130px;display: block;overflow: hidden;}
.g-special-box .m-rp-scroll li a strong{ width:100%; height:26px; line-height:26px; font-size:14px; font-weight:normal; color:#fff; text-shadow:1px 1px 2px #000; text-align:center; display:block; overflow:hidden; position:absolute; left:0; bottom:0; 
background:-moz-linear-gradient(top,rgba(255,255,255,0),rgba(0, 0, 0, 0.7));
background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0,rgba(255,255,255,0)), color-stop(1, rgba(0,0,0,0.7)));
background: -ms-linear-gradient(top,rgba(255,255,255,0) 0%,rgba(0,0,0,0.7) 100%); /*IE9+*/
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000',GradientType=0 );/*IE9-*/}
.g-special-box .m-rp-scroll li a:hover strong{ color:#f60;}

.g-zthj-top{height: 50px;border-bottom: 1px solid #efefef; margin-bottom:20px; padding: 0px 20px;}
.g-zthj-top ul li{float: left;font-size: 20px;color: #333;font-weight: bold;height: 50px;line-height: 50px; cursor: pointer;background: url(https://www.qqtn.com/skin/new2018/images/lbl_bg.png) no-repeat 94px center;padding-right: 40px; position: relative;}
.g-zthj-top ul li.m-hover a{ color: #20aef0; }
.g-zthj-top ul li.m-hover i{background: url(../images/down_detailimg.png) no-repeat -135px -72px;}
.g-zthj-top ul li i {position: absolute;width: 14px;height: 7px;display: block;bottom: -7px;left:35px;}
.g-zthj-top ul li:last-of-type{background: none;}

.g-tjzt-cont{ overflow:hidden; padding:0px 0px 5px 0px;}
.g-tjzt-cont ul{ padding:0px 5px; overflow: hidden;}
.g-tjzt-cont ul li{ width:277px; border:1px solid #e8e8e8; float:left; margin-left:15px; margin-bottom:15px;}
.g-tjzt-cont ul li:hover{ border:1px solid #05a3ff; }
.g-tjzt-cont ul li a{ display: block; position: relative;}
.g-tjzt-cont ul li a i{ width: 247px;height: 123px;display: block; margin: 15px auto 0;}
.g-tjzt-cont ul li a i img{width: 247px;height: 123px;}
.g-tjzt-cont ul li a span.g-title-name{ position:absolute; top: 97px; width: 247px;left: 15px;background: url(../images/rgba50.png); color: #fff; text-align: center;height: 26px; line-height: 26px; overflow: hidden; font-size: 15px; font-weight: bold; }
.g-tjzt-cont ul li a strong{ font-style: normal;margin: 15px 10px; overflow: hidden; line-height: 24px; color: #999; font-weight: normal;display: block; height: 48px;}

.g-cp-dome{ overflow: hidden;padding-bottom:20px; }
.g-cp-dome ul { overflow: hidden; width: 1160px; margin: 0px auto;border-top: 1px solid #efefef;border-left: 1px solid #efefef;  }
.g-cp-dome ul li{ float:left; overflow: hidden;border-right: 1px solid #efefef;border-bottom: 1px solid #efefef; width:231px; }
.g-cp-dome ul li a{display: block; overflow: hidden;}
.g-cp-dome ul li a i{display: block;padding:15px 0;margin: 0px auto;width: 200px;  }
.g-cp-dome ul li a i img{ width: 200px; height:83px; }
.g-cp-dome ul li a p{height: 26px;text-align: center;line-height: 26px;overflow: hidden;}
.g-cp-dome ul li a:hover p{ color: #f60; }

.g-zq-dome{ overflow: hidden; }
.g-zq-dome ul li{ float: left; overflow: hidden;border: 1px solid #efefef;width: 176px;margin: 0px 0px 20px 19px;}
.g-zq-dome ul li a{display: block; overflow: hidden;}
.g-zq-dome ul li a img{height: 85px; width: 85px;display:block;margin: 0px auto;padding: 15px 0;}
.g-zq-dome ul li a p em img{height: 14px;padding:5px 0px;}
.g-zq-dome ul li a p{padding: 0px 15px 15px 15px; overflow: hidden;}
.g-zq-dome ul li a p font{height: 22px; line-height: 22px;text-align:center; overflow: hidden;display: block;}
.g-zq-dome ul li a p strong{ display: block; height: 22px; line-height: 22px; text-align: center; font-weight: normal;color: #666; }
.g-zq-dome ul li:hover{border:1px solid #05a3ff; }
.g-zq-dome ul li:hover a font{ color: #f60; }