/*----css 初始化----*/
blockquote,body,button,dd,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,dd,ol,p,pre,td,textarea,th,dl,ul,li,ol{margin:0;padding:0}
body,button,input,select,textarea,p,span{font-family:"Hiragino Sans GB", "Helvetica Neue", Helvetica, STHeiTi, "Microsoft Yahei", sans-serif;}
h1,h2,h3,h4,h5,h6{font-size:100%}
address,cite,dfn,em,var,i{font-style:normal}
code,kbd,pre,samp{font-family:courier new,courier,monospace}
pre{word-wrap: break-word}
small{font-size:.21rem}
ol,dl,ul,li{list-style:none}
a{text-decoration:none}
a:hover{text-decoration:underline}
sup{vertical-align:text-top}
sub{vertical-align:text-bottom}
legend{color:#000}
fieldset,img{border:0}
button,input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
article,aside,audio,details,figcaption,figure,footer,header,mark,menu,nav,section,summary,time,video{display:block;margin:0;padding:0}
html{-webkit-tap-highlight-color:transparent; height: 100%;}
label,span,i{display: inline-block}
.cf:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0}
.cf{display:inline-table;*zoom: 1;}
a{text-decoration:none;color: #333;outline:none;font-size:.32rem;}
a:hover{text-decoration:none;color: #5c5c5c;}
a[title='站长统计']{display: none;}
img{display: block;}
*{-webkit-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
::-webkit-scrollbar{display: none;width: 0;height: 0;}

.list ul{padding: 0 .213333rem;display: flex;justify-content: space-between;}
.list ul li{width: 3.12rem;height: 100vh;overflow: hidden;position: relative;}
.list ul li:nth-child(2){margin-top: -2rem;}
.list ul li .pic{width:100%;height: 3.8rem;margin-bottom: .106667rem;overflow: hidden;border-radius: .106667rem;position: relative;}
.list ul li img{width: 100%;border-radius: .106667rem;}
.list ul li .scroll{position: absolute;left: 0;top: .106667rem;width: 100%;margin-top: .106667rem;}
.down{position: fixed;bottom: 0;left: 50%;cursor: pointer; width: 100%; transform: translateX(-50%);}
.down img{width: 100%;}
footer{position: fixed;left: 0;bottom: .3rem;right: 0;text-align: center;font-size: 0.32rem; color: #bbb;}
#code{opacity: 0;position: absolute;left: -9999px;}
footer a{color: #666}

/* 弹窗 */
.mask{display: none;position: fixed;width: 100%;height: 100%;background: #000;opacity: 0.6;left: 0;top: 0;z-index: 2}
#downBox{display: none;position: fixed;top: 47%;left: 50%;z-index: 3;transform: translate(-50%,-50%);width: 360px;height: 380px;border-radius: 8px;background-color: #fff}
#downBox p{font-size: 16px;color: #9b9b9b;text-align: center;margin-top: 29px;margin-bottom: 34px}
.close{width: 16px;height: 16px;background: url("close.png") no-repeat;float: right;margin: 15px 15px auto auto;cursor: pointer}
.qcode{width: 210px;height: 210px;margin: 66px auto auto}
.qcode img{width: 100%;margin: 0;}

@media (min-width: 767px){
	body{max-width: 10rem; margin: 0 auto;}
	.down{max-width: 10rem;}
	.list ul li{width: 32%;}
}
