body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,button,textarea,p,blockquote,th,td,a {margin:0;padding:0;color: #333;} 
table {border-collapse:collapse;border-spacing:0;} 
fieldset,img {border:0} 
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal;font-weight:normal} 
ol,ul {list-style:none} 
caption,th {text-align:left} 
h1,h2,h3,h4,h5,h6 {font-size:100%;font-weight:normal} 
q:before,q:after {content:''} 
abbr,acronym { border:0}
a{text-decoration: none;} 
* {
padding: 0px;
margin: 0px;
text-align: left;
font-family: PingFangSC-Regular,HelveticaNeue-Light,'Helvetica Neue Light','Microsoft YaHei',sans-serif;
line-height: 150%;
}
body{
    background-color: #f6f7f9;
}
table {
border-collapse: collapse;
}
td {
padding: 3px;
}
img {
border: none;
display: block;
}
input {
padding: 1px;
vertical-align: middle;
line-height: normal;
}
.clearfix{
    clear: both;
}
.h120{
    width: 100%;
    height: 120px;
}
.header-box{
    width: 100%;
    height: 120px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    border-bottom: 1px solid #eee;
}
.header{
    width: 1200px;
    margin: 0 auto;
    background-color: #fff;
}
.logo{
    width: 293px;
    height: 52px;
    float: left;
    overflow: hidden;
    margin-top: 34px;
}
.logo img{
    width: 100%;
    height: 100%;
    display: block;
}
.search{
    width: 820px;
    float: right;
    margin-top: 30px;
}
.inp-text{
    display: inline-block;
    box-sizing: border-box;
    width: 725px;
    height: 60px;
    border: 1px solid #a6a6a6;
    font-size: 24px;
    padding-left: 20px;
    outline: none;
}
.inp-submit{
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 60px;
    border: none;
    background: url(/static/yanqing/search.png)  no-repeat;
    margin-left: 5px;
    cursor: pointer;
}
.inp-text::-webkit-input-placeholder {
    /* WebKit browsers */
    color: #a6a6a6;
  }
  .inp-text:-moz-placeholde {
      /* Mozilla Firefox 4 to 18 */
    color: #a6a6a6;
  }
  .inp-text::-moz-placeholde {
      /* Mozilla Firefox 19+ */
    color: #a6a6a6;
  }
  .inp-text:-ms-input-placeholder {
      /* Internet Explorer 10+ */
    color: #a6a6a6;
  }
  .search-box{
      width: 1200px;
      margin: 40px auto 0 auto;
      box-sizing: border-box;
      padding: 30px 0 40px 0;
      background-color: #fff;
      min-height: 550px;
  }
  .search-title{
      width: 100%;
      padding: 0 30px;
      box-sizing: border-box;
  }
  .search-title i{
      display: inline-block;
      width: 5px;
      height: 15px;
      background-color: #e74c3c;
      border-radius: 3px;
      margin-right: 20px;
  }
  .search-title span{
      display: inline-block;
      font-size: 22px;
      color: #333;
      font-weight: bold;
      line-height: 22px;
  }
  .search-list{
      width: 100%;
      margin-top: 20px;
  }
  .search-list li{
      width: 100%;
      padding: 20px 30px;
      border-bottom: 1px dashed #e74c3c;
      box-sizing: border-box;
  }
  .sl-img{
      width: 120px;
      height: 160px;
      overflow: hidden;
      float: left;
  }
  .sl-img img{
      width: 100%;
      height: 100%;
      display: block;
      transition: all 0.5s;
  }
  .sl-img img:hover{
      transform: scale(1.1);
  }
  .sl-info{
      width: 960px;
      float: left;
      margin-left: 35px;
      position: relative;
  }
  .sl-more{
      width: 120px;
      height: 34px;
      line-height: 34px;
      text-align: center;
      border: 1px solid #e74c3c;
      color: #e74c3c;
      border-radius: 8px;
      position: absolute;
      bottom: 0;
      right: 0;
  }
  .sl-more:hover{
      background-color: #e74c3c;
      color: #fff;
  }
  .sl-name{
      font-size: 18px;
      color: #333;
  }
  .sl-name span{
      display: inline-block;
      font-size: 14px;
      color: #a6a6a6;
      margin-left: 40px;
  }
  .sl-cot{
      font-size: 14px;
      color: #666;
      text-align: justify;
      height: 84px;
      line-height: 28px;
      margin-top: 10px;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
  
  }
  .sl-bi{
      width: 100%;
      font-size: 14px;
      margin-top: 15px;
  }
  .sl-bi span{
      display: inline-block;
      color: #a6a6a6;
      margin-right: 50px;
  }
  .sl-bi span i{
      color: #e74c3c;
      font-style: initial;
  }
  .loading {
    width: 150px;
    height: 15px;
    margin: 0 auto;
    margin-top: 20px;
    text-align: center;
}
.loading span {
    display: inline-block;
    width: 15px;
    height: 100%;
    margin-right: 5px;
    background: #e74c3c;
    -webkit-animation: load 1.04s ease infinite;
}
.loading span:last-child{
    margin-right: 0px; 
}
@-webkit-keyframes load{
    0%{
        opacity: 1;
        -webkit-transform: scale(1.2);
    }
    100%{
        opacity: .2;
        -webkit-transform: scale(.2);
    }
}
.loading span:nth-child(1){
    -webkit-animation-delay:0.13s;
}
.loading span:nth-child(2){
    -webkit-animation-delay:0.26s;
}
.loading span:nth-child(3){
    -webkit-animation-delay:0.39s;
}
.loading span:nth-child(4){
    -webkit-animation-delay:0.52s;
}
.loading span:nth-child(5){
    -webkit-animation-delay:0.65s;
}
.footer {
    width: 100%;
    height: 160px;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
    box-sizing: border-box;
    padding-top: 1px;
}
.footer-box {
    width: 1200px;
    margin: 0 auto;
}
.nav-bottom {
    width: 345px;
    margin: 40px auto 0 auto;
    box-sizing: border-box;
}
.nav-bottom li {
    width: 115px;
    text-align: center;
    float: left;
    box-sizing: border-box;
}
.nav-bottom li a {
    color: #fff;
}
.footer-box p {
    color: #fff;
    text-align: center;
    padding-top: 15px;
    margin-top: 15px;
    border-top: 0px solid #fff;
}
.nodt{
    width: 100%;
    margin-top: 80px;
}
.nodt-img{
    width: 307px;
    height: 200px;
    margin: 0 auto;
    background: url(../img/nd.png) no-repeat;
}
.nodt-cot{
    font-size: 30px;
    font-weight: bold;
    color: #eee;
    text-align: center;
}