

.widget-weixin {
	width: 269px;
	height: 120px;
	position: fixed;
	top: 280px;
	left: 20px;
	padding: 10px;
	z-index: 999;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: url("../images/fenxiang2.jpg") #FFF no-repeat;
	box-shadow: 0 2px 9px rgba(142,102,253,.05);
	cursor: pointer;
	display: none;
}

.widget-weixin .codeimg {
	width: 100px;
	height: 100px;
	background: url("../images/codeimg6.png") #FFF no-repeat;
}