/*开发豆原创源码，唯一官网：www.kaifadou.com*/
.m-gxzt{margin-top:13px;margin-left:22px}
.m_title { height:34px; border-bottom:1px #ddd solid;font-size:18px;background:url('../images/bk2.gif') no-repeat 0px 11px ;line-height:60px;height:60px;letter-spacing:1px;color:#20aef0}
.title-l{margin-right:30px}
.title-r{margin-left:30px}

.m-section{background:white;margin-top:15px}

.m-h3top{padding-top:15px}
.f_h3list{font-size:20px;padding-left:16px;border-left:4px solid #00aaff;}
.phsx{position:relative;height:30px ;line-height:30px;margin:0 20px;padding:12px 0 ;border-bottom:1px dashed #eeeeee;font-size:12px}
.m-section .catediv{border-bottom:0px solid #eeeeee;padding-bottom:15px}


.phsx .f-phsxul{position:absolute;right:530px;top:10px;}
.phsx .ul1-1{right:311px}
.phsx li{ float:left;width:90px;;text-align:center;margin-right:20px;}
.phsx li a{font-size:12px;display:block;height:30px;border:1px solid #eee;background:#fafafa;}
.phsx li a:hover{background:#20aef0;color:white}
.f-phsxul li.m-phsxli{background:#20aef0;border:0px }
.f-phsxul li.m-phsxli a{color:#fff;}
.f-phsxul li a.m-phsxli {background:#20aef0;border:0px;color:#fff;border:1px solid #eee;}

.phsx li.active{background:#20aef0;color:white;border:0}

.hot-fl{width:600px;}


.m-section-part2{background:white;padding:0 20px 10px}

.m-hotgul li{ margin: 15px 30px 0px 0px  ;border-bottom:1px #ebebeb dashed;float:left; width:260px;padding-bottom:15px }

.m-hotgul li.m-li-btmdash{border-bottom:0px #bababa dotted;}
.m-hotgul li i { margin-right: 15px; width:20px;height:20px; line-height: 20px;border-radius:5px;text-align:center;font-style:normal;margin-top:10px;color:#fff; font-size: 12px; background-color: #aaa}
.m-hotgul li i a{color:#fff}

.m-hotgul li .m-pimg{margin-right:15px}
.m-hotgul li .m-pimg a {display: block; height: 40px; width: 40px; }
.m-hotgul li:hover p a{color:#20aef0}
.m-hotgul li a{  overflow: hidden;  }
.m-hotgul li a p.f-fl{ overflow:hidden; margin-right: 16px }
.m-hotgul li a p.f-fl img{ display: block;width: 40px; height: 40px; }
.m-hotgul li p a{ display: block; font-weight: normal; font-size: 14px; line-height: 18px;height: 18px; }
.m-hotgul li span { font-size: 12px ; color: #aaa; margin-top:5px;display:inline-block }
.hot-left,.hot-right{width:580px}
.hot-right div{ }
.hot-right .m_title {  border-bottom:1px #ddd solid;font-size:18px;background:url('../images/bk2.gif') no-repeat 0px 11px ;line-height:60px;height:60px;letter-spacing:1px;color:#20aef0; margin-left: 10px;}
.hot-right .m_softright1 ul li.m-hoteven{margin-left:30px}
.hot-right .m_softright1 ul li.m-hotodd{margin-right:0;padding-bottom:14px}
.m-hotgul li i.index1,.m-rimgul li .m-titletext span i.index1{background-color:#f55}
.m-hotgul li i.index2,.m-rimgul li .m-titletext span i.index2{background-color:#f90}
.m-hotgul li i.index3,.m-rimgul li .m-titletext span i.index3{background-color:#fc0}
.m-hotgul li i.indexc,.m-rimgul li .m-titletext span i.index4{background-color:#aaa}
.m-list1{margin-bottom:20px}
.m-flphc{width:360px;margin:0 20px;padding-bottom:20px}
.m-ruanjian{position:relative;}
.m-ruanjian .f-hovertab-btn{position:absolute;top:15px;right:0px}
.m-ruanjian .f-hovertab-btn li{text-align:center;margin-left:15px;width:20px;height:20px;line-height:20px;font-size:12px}
.m-ruanjian .f-hovertab-btn li.f-hover{background:#ff5555;text-align:center;color:white}
.m-ruanjian .m-rimgul{display:none;margin-top:10px}
.m-ruanjian .title1{background:url('../images/bk3.jpg') no-repeat 0px 1px ;line-height:48px;height:48px;font-size:16px;font-weight:normal;color:#0af;margin-left:0;padding-left:13px}
.m-rjph-detal .m-pimg{width:90px;float:left; margin-right:15px;}
.m-rjph-detal .m-pimg a { display: block; text-align: center }
.m-rjph-detal .m-pimg a img { min-width: 60px; max-height: 60px; }
.m-rimgul li .clickdown{display:inline-block;width:80px;height:30px;line-height:30px;background:#6ecefa;text-align:center;color:white}
.m-dtsize{display:inline-block;height:39px;line-height:39px;color:#999;font-size:12px}
.m-dtsize em { display: inline-block; margin:0 5px; }
.m-rimgul {margin:0 0px;}
.m-rimgul li { display: block;border-bottom:1px dashed #eeeeee}
.m-rimgul li.m-li-btmdash{border-bottom:0px dashed #eeeeee}

.m-rimgul li p{line-height:50px;font-weight:normal;}
.m-rimgul li .m-titletext span { font-size: 14px; height: 50px;line-height: 50px; overflow: hidden; display: inline-block; width: 270px; }
.m-rimgul li.f-ix .m-titletext span { width: 340px }
.m-rimgul li .m-titletext span i { display: inline-block;width:20px;height: 20px; line-height: 20px;border-radius:5px; margin-right: 15px;text-align:center;margin-top:10px;color:#fff; font-style:normal; background-color: #aaa; font-size: 12px;}
.m-rimgul li .m-titletext span .indexs{padding:1px 2px}
.m-rimgul li .m-titletext em {font-size: 14px; height: 50px;line-height: 50px; color: #aaa}
.m-rimgul li .m-rjph-detal{ display: none; padding-bottom: 15px; margin-left: 5px;}
.m-rimgul li p{color:#000}
.m-rimgul li.f-ix .m-rjph-detal{ display: block;margin-left:30px }

.m-rimgul li.f-ix p{color:#20aef0}
.m-rimgul li.f-ix .m-xtyh { display: none }
.m-rimgul li .m-titletext a:hover {color:#20aef0}
.m-rimgul li .m-rjph-detal .clickdown:hover {background:#00aaff}

.m-titletext{position:relative; overflow: hidden;}

.m-titletext p{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.m-titletext span {display:inline;line-height:50px;color:#aaaaaa;zoom:1;}
.m-titletext span.m-xtyh{zoom:1;line-height:50px}


.m-time-left{width:885px;background:white;margin-top:15px}
.m-titlediv{border-bottom:1px solid #eeeeee}
.f_cle{line-height:50px;height:50px;margin:0 10px}
.f_cle dt.m_fldt{width:46px;text-align: center;}
.f_cle dt.f-i1,.f_cle dt.f-i2,.f_cle dt.f-i3 { color:#fe0000; } 
.m-content{padding-bottom:20px}
 .m-content .m-cle-dec{border-bottom:1px dashed #eee}

.m-content .m-cle-dec .m_fldd1 a:hover{color:#20aef0}

 .f_cle dt .m-dt-num{padding-left:3px}
 .f_cle .m_fldd1{width:526px; font-size: 14px; height: 50px; overflow: hidden;}

 .f_cle .m_fldd1 span a{display:inline;padding:0 5px;color:#aaa}
.m-content .m-cle-dec .m_fldd1 a:hover{color:#20aef0}
 .f_cle .m_fldd1 .m-soft-mark{display:inline-block;padding:0 45px}
 .f_cle .m_fldd2{width:290px}
 .f_cle .m_fldd2{text-align:center}
 .f_cle .m_fldd2 i{width:40%;}
.f_cle .m_fldd2 .m_softp4 span{font-size:12px}
 .f_cle .m-dj{font-style:normal}
.f_cle .m-s{display:inline-block;width:40%}
.f_cle .m-hpf{display:inline-block;width:20%}
.m_softmc{position:relative;}
.m_softmc .m-hpf{position:absolute;right:15px}
.m_softmc .m-smc{position:absolute;right:109px}
.m_softmc .m-dj{position:absolute;left:30px}
.f_cle .m-redc{color:#fe0000}

.m-time-right{width:300px}
.m-time-right .m-rightdiv{background:white}
.m-time-right .m-h3htop{border-bottom:1px solid #eee;padding-top:10px}
.m-time-right .m-h3htop h3.m-rhottile{border-bottom:2px solid #20aef0;;margin-left:20px;font-size:18px;line-height:36px;height:36px; display: inline-block;}
.m-time-right .m-rightdiv .m-hots-ul{padding-bottom:12px;padding-right:12px;padding-left:12px}
.m-time-right .m-rightdiv .m-hots-ul li{ float:left;margin:12px 0 0 12px;background:#fafafa;border-radius:4px;white-space: nowrap}
.m-time-right .m-rightdiv .m-hots-ul li a{color:#999;display:block;line-height:28px; height: 28px; overflow: hidden;padding:0px 10px; font-size: 14px;}
.m-time-right .m-rightdiv{margin-top:15px}
.m-time-right .m-rightdiv li:hover {background:#20aef0;}
.m-time-right .m-rightdiv li:hover a{color:white}


/*QQ·????à*/
.m-sectiondiv{margin-top:15px;}
.m-section-left {width:315px}
.m-sectiondiv .m-section-left2{width:355px;float:left;margin-top:15px; background-color: #fff}
.m-sectiondiv .m-section-right{width:830px; background-color: #fff}
.m-sectiondiv .m-section-left1{padding:20px 0px 0;width:355px; background-color: #fff}
.m-sectiondiv .m-section-left1 li{width:148px;height:48px;line-height:48px;border:1px solid #eeeeee;text-align:center; margin:0 0 20px 20px;}
.m-sectiondiv .m-section-left1 li a{display: block;font-size:16px;}
.m-sectiondiv .m-section-left1 li.f-hover{background:#20aef0; }
.m-sectiondiv .m-section-left1 li.f-hover a {color:#fff;}

.m-section-left2 .m-down1-1{padding:0 20px; display: none}
.m-section-left2 .m-down1-1 .m-left-title {height:48px;line-height:48px;font-size:18px;border-bottom:1px solid #eeeeee}
.m-section-left2 .m-down1-1 .m-left-title li{width:157px;}
.m-section-left2 .m-down1-1 .m-left-title li.f-hover{border-bottom:2px solid #00aaff;}
.m-section-left2 .m-down1-1 .m-left-title li.f-hover a{color:#00aaff}
.m-section-left2 .m-down1-1 .m-left-title .m-downli1{text-indent:40px}
.m-section-left2 .m-down1-1 .m-left-title .m-downnum{text-indent:25px}
.m-section-left2 .m-down1-1 .m-down-list1{margin-top:10px}
.m-section-left2 .m-down1-1 .m-down-list1 li{width:315px}
.m-section-left2 .m-down1-1 .m-down-list1 li i{margin-right:20px}
.m-section-left2 .m-down1-1 .m-down-list1 .m-rjph-detal{margin-left:35px}
.m-section-left2 .m-down1-1 .m-down-list1 .m-titletext p{width:295px}
.m-section-left2 .m-down1-1 .m-down-list1 .m-titletext p a:hover{color:#00aaff}


 /*m-section-rightyou????????????????????*/
.m-divr-content{padding: 0 20px 5px; display: none}
.m-divr-content .m-rightdiv .m-right-title{font-size:20px;height:48px;line-height:48px;border-bottom:1px solid #eeeeee;color:#333;}
.m-divr-content .m-rightdiv .m-right-title strong{font-weight:normal;padding:0 20px 0px;border-bottom:3px solid #00aaff;display:inline-block}
.m-divr-content .m-rightdiv .m-right-fenl{padding-top:22px;padding-bottom:22px;overflow:hidden}
.m-divr-content .m-rightdiv .m-right-fenl li{line-height:36px;height:36px;font-size:14px;margin:0 0 0 20px; }
.m-divr-content .m-rightdiv .m-right-fenl li a{font-size:14px; padding:5px 10px}
.m-divr-content .m-rightdiv .m-right-fenl li.m-right-fenli2{margin-right:0}
.m-divr-content .m-rightdiv .m-right-fenl li a:hover{color:#20aef0}

 /* ·?????? */

.pg_pcl{ margin-top:20px; overflow: hidden;  }
.pg_pcl .tspage{ height: 28px; margin: 5px 0 5px; background: none;line-height: 26px;}
.pg_pcl .tspage .tsp_count,.tsp_change{ display: none;}
.pg_pcl .tspage .tsp_nav{ text-align: center;}
.pg_pcl .tspage .tsp_nav i{font-style: normal; display: inline-block; padding: 0 15px; background-color: #fbfbfb; color: #999; border: 1px solid #e7e7e7; border-radius: 3px;}
.pg_pcl .tspage .tsp_nav b{ display: inline-block; padding: 0 15px; background-color: #4c94ee; color: #fff; border: 1px solid #4c94ee; border-radius: 3px;}
.pg_pcl .tspage .tsp_nav a{ display: inline-block; padding: 0 15px; background-color: #fbfbfb; border: 1px solid #e7e7e7; border-radius: 3px; color: #000;}
.pg_pcl .tspage .tsp_nav a.tsp_more,.pg_pcl .tspage .tsp_nav a.tsp_next,.pg_pcl .tspage .tsp_nav a.tsp_end,.pg_pcl .tspage .tsp_nav a.tsp_home,.pg_pcl .tspage .tsp_nav a.tsp_prev{ padding: 0; border:none;}
.pg_pcl .tspage .tsp_nav a:hover{ background: #4c94ee; color: #fff; border: 1px solid #4c94ee;}
.pg_pcl .tspage .tsp_nav a.tsp_more:hover i{background: #4c94ee;color: #fff;border: none;}
.pg_pcl .tspage .tsp_nav a.tsp_next:hover i{background: #4c94ee;color: #fff;border: none;}
.pg_pcl .tspage .tsp_nav a.tsp_end:hover i{background: #4c94ee;color: #fff;border: none;}
.pg_pcl .tspage .tsp_nav a.tsp_home:hover i{background: #4c94ee;color: #fff;border: none;}
.pg_pcl .tspage .tsp_nav a.tsp_prev:hover i{background: #4c94ee;color: #fff;border: none;}