@charset 'UTF-8';html{font-size:14px;font-family:sans-serif;line-height:1.5;-webkit-user-select:none;fill:currentColor;-webkit-tap-highlight-color:transparent;-webkit-text-size-adjust:none;-webkit-touch-callout:none;background-color:#e9faff;color:#7a7a7a}
body{margin:0 auto}
button,input{outline:0}
blockquote,body,dd,dl,figure,form,h1,h2,h3,h4,h5,h6,ol,p,ul{margin:0}
h1,h2,h3,h4,h5,h6,input,select,textarea{color:#363636;font-size:100%}
li,ol,ul{padding:0;list-style:none}
a{text-decoration:none;color:inherit;outline:0}
a[href]:active,button:active{background-image:none}
em{font-style:normal}
input,select,textarea{font-family:inherit;box-sizing:border-box}
img{display:inline-block;border:0;vertical-align:middle}
p{word-break:break-all}
output{speak:digits}
a{color: #107dcf;text-decoration:none;}
a:hover{color:#f60}
.clear:after,.clear:before{display:table;content:" "}
.clear:after{clear:both}
.mt0{margin-top:0}
.mt10{margin-top:10px}
.mb0{margin-bottom:0}
.mb10{margin-bottom:10px}
.ml0{margin-left:0}
.ml10{margin-left:10px}
.mr0{margin-right:0}
.mr10{margin-right:10px}
.pt0{padding-top:0}
.pt10{padding-top:10px}
.pb0{padding-bottom:0}
.pb10{padding-bottom:10px}
.pl0{padding-left:0}
.pl10{padding-left:10px}
.pr0{padding-right:0}
.pr10{padding-right:10px}
.noempty{min-height: calc(100vh - 240px);}
.container{width:980px;margin:0 auto}
.left,.pull-left{float:left}
.pull-right,.right{float:right}
.text-center{text-align:center}
.text-right{text-align:right}
.text-small{font-size:15px}
.text-smaller{font-size:14px}
h4{background: #e1eced;font-size: 16px;border-bottom: 1px solid #d7d7d7;padding: 5px 10px;height: 30px;line-height: 30px;overflow: hidden;}
h4 .pull-right{font-size:13px;line-height: 24px;}
.header .left{width:auto;text-align:center;font-weight:700;font-size:24px;letter-spacing:2px;line-height:24px}
.header .left p{font-size:16px;letter-spacing:0;color:#f60}
.header .right{width:calc(50% + 150px);margin-top: 6px;}
.header .search{width:350px;float:left}
.header .search form{display:flex;align-items:center;height: 35px;}
.header .search form input{width:270px;text-indent:10px;flex-grow:2;height:100%;border: 1px solid #08c;border-radius:3px 0 0 3px;border-right:none;background: #f6f6f6;font-size:13px;}
.header .search form button,header .login-btn{width:80px;height:100%;background-color: #488fce;color:#fff;cursor:pointer;border-radius:0 3px 3px 0;border:none;font-size:13px;line-height: 35px;}
.header .search form button:hover,header .login-btn:hover{background-color:#f60}
.header .login-btn{margin-left:10px;float:right;width:80px;text-align:center;border-radius:3px;background-image: url(svg/history.svg);background-repeat:no-repeat;background-position: 14px 11px;background-size: 14px auto;padding-left: 20px;}
.header .login-btn:last-child{background-image: url(svg/user.svg);}
.nav{background: #488fce;height: 40px;line-height: 40px;font-size: 16px;overflow: hidden;}
.nav ul li{float:left;width:calc(100% / 12);text-align:center}
.nav ul li.active,.nav ul li:hover{background: #247bc8;}
.nav ul li a{color:#fff;width:100%;height:100%;display:block}
.breadcrumb{background: #f6f6f6;border-bottom: 1px solid #c3dfea;padding:0 10px;line-height: 30px;height: 30px;border-radius:3px;overflow:hidden;font-size:13px;}
.breadcrumb li{float:left;padding:0 10px 0 0}
.breadcrumb li:first-child{background-image: url(svg/home.svg);background-repeat:no-repeat;padding-left: 20px;background-position: left;background-size: 14px auto;}
.breadcrumb li+li::before{display:inline-block;padding-right:10px;color:#999;content:"/"}
.breadcrumb li:nth-child(3),.breadcrumb li:nth-child(4){max-width:180px}
.rank .left{width:calc(100% - 293px);background:#fef9ef;border:2px solid #c3dfea}
.rank .left .book{padding:10px;height: 221px;}
.rank .left .book .cover{width: 195px;height: 221px;float:left;}
.rank .left .book .cover img{width: 120px;height: 161px;padding:30px;background: #eee;}
.rank .left .book .bookinfo .booktitle{height:35px;overflow:hidden;border-bottom:1px solid rgba(0,100,150,.1)}
.rank .left .book .bookinfo .booktitle h1{float:left;font-size:24px;line-height:24px}
.rank .left .book .bookinfo .booktitle h2:before{content:"/";color:#999;padding:0 10px}
.rank .left .book .bookinfo .booktitle h2{line-height:32px;font-size: 14px;}
.rank .left .book .bookinfo .bookdes{display:table;line-height: 35px;}
.rank .left .book .bookinfo .bookdes p{float:left;width:50%;height: 25px;overflow:hidden;}
.rank .left .book .bookinfo .bookintro{line-height: 27px;overflow-y:auto;border-top:1px solid rgba(0,100,150,.1);border-bottom:1px solid rgba(0,100,150,.1);margin:10px 0 10px 0;height: 80px;font-size: 12px;}
.rank .left .book .bookinfo .bookintro::-webkit-scrollbar{width:0}
.rank .left .book .bookinfo .bookbtn{display:flex}
.rank .left .book .bookinfo .bookbtn a{width: 100px;background-color: #488fce;border: 1px solid #488fce;color:#fff;cursor:pointer;border-radius:3px;line-height: 30px;text-align:center;}
.rank .left .book .bookinfo .bookbtn a:first-child:before{content:"\2600";margin-right:5px}
.rank .left .book .bookinfo .bookbtn a:last-child:before{content:"\2764";margin-right:5px}
.rank .left .book .bookinfo .bookbtn a+a{margin-left:10px;background-color: #e9faff;color: #107dcf;}
.rank .left .book .bookinfo .bookbtn a:hover{background:#f60;color:#fff;border-color:#f60}
h1.tagtitle {color: #488fce;font-size: 20px;text-align: center;padding: 10px;background: #fef9ef;border: 2px solid #c3dfea;}
.rank .taglist {background: #fef9ef;border: 2px solid #c3dfea;overflow: hidden;}
.rank .taglist li{float:left;width: calc(10% - 20px);padding: 0 10px;overflow: hidden;height: 30px;line-height: 30px;text-align: center;word-break: break-all;}
.chapterlist{background: #fef9ef;border: 2px solid #c3dfea;}
.chapterlist .all{border-top: 2px solid #c3dfea;}
.chapterlist h3{background: #e1eced;font-size:100%;border-bottom: 1px solid #d7d7d7;padding: 5px 10px;text-align:center;font-size: 16px;}
.chapterlist ul{overflow:hidden}
.chapterlist li{float:left;width:25%;height: 40px;line-height: 40px;overflow:hidden;font-size:13px;}
.chapterlist li:nth-child(8n+5),.chapterlist li:nth-child(8n+6),.chapterlist li:nth-child(8n+7),.chapterlist li:nth-child(8n+8){background: #f1f1f1;}
.chapterlist li a{display:block;padding:0 10px}
.chapterlist li a:visited{color:#999}
.bookvote{font-size: 12px;padding:0 10px;line-height: 30px;background: #fef9ef;border: 2px solid #c3dfea;}
.bookvote ul{border-top: 1px solid #d7d7d7;}
.bookvote ul li{float:left}
.bookvote ul li:nth-of-type(n+3):before{content:"\3001";padding-left:5px}
.bookvote ul li a{word-break:break-all}
.rank .left .content{padding:0 10px 10px;overflow:hidden}
.rank .left .content dl{width:calc(50% - 5px);float:left;margin:10px 0 0 0;overflow:hidden}
.rank .left .content dl:nth-child(2n+0){margin-left:10px}
.rank .left .content dl .cover{float:left;width: 106px;height: 120px;}
.rank .left .content dl img{width: 96px;height: 120px;background:#f6f7f9;}
.rank .left .content dl dt{height:24px;line-height:24px;overflow:hidden;white-space:nowrap}
.rank .left .content dl dd{font-size: 12px;text-align:justify;height: 76px;overflow:hidden;line-height: 25px;}
.rank .left .content dl dd:last-child{height:20px;overflow:hidden;line-height:18px}
.rank .left .content dl dd:last-child a{max-width:50%;float:left;text-align:left}
.rank .left .content dl dd:last-child span{float:right;border:1px solid #f60;padding:0 2px;margin-left:5px;font-size:12px;color:#f60}
.rank .left .content dl dd:last-child span:last-child{border-color:rgba(0,100,150,.5);color:rgba(0,100,150,.9)}
.rank .right{width:275px;background:#fef9ef;border:2px solid #c3dfea}
.rank .right ul li{padding:0 10px;height: 40px;line-height: 40px;overflow:hidden;}
.rank .right ul li:nth-child(2n){background-color: #f1f1f1;}
.rank .right ul li a,.rank .right ul li span{float:left}
.rank .right ul li span{display:block;background:rgba(0,100,150,.5);border-radius:20px;width: 16px;height: 16px;line-height: 16px;text-align:center;color:#fff;margin-top: 12px;margin-right:5px;font-size: 12px;}
.rank .right ul li:nth-child(1) span,.rank .right ul li:nth-child(2) span,.rank .right ul li:nth-child(3) span{background:#f60}
.rank .right ul li a{max-width:calc(100% - 115px)}
.rank .right ul li a:last-child{max-width:81px;float:right;text-align:right;font-size:13px}
.sort .content{float:left;width:33%;margin-top:10px;background:#fef9ef;border:2px solid #c3dfea}
.sort .content:nth-child(3n+2),.sort .content:nth-child(3n+3){margin-left:10px;width: calc(33.5% - 16px);}
.sort .content .booklist dl{padding:10px 10px;height:100px;overflow:hidden;}
.sort .content .booklist dl .cover{float:left;width:90px;height:100px}
.sort .content .booklist dl .cover img{width:80px;height:100px;background:#f6f7f9}
.sort .content .booklist dl dt{display:flex;height:20px;line-height:20px;overflow:hidden;white-space:nowrap}
.sort .content .booklist dl dt a{max-width:calc(100% - 25px);overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.sort .content .booklist dl dt span{display:block;background:#f60;border-radius:20px;width: 16px;height: 16px;line-height: 16px;text-align:center;color:#fff;margin-right: 5px;font-size: 12px;margin-top: 2px;}
.sort .content .booklist dl dd{font-size:12px;text-align:justify;height:62px;overflow:hidden;line-height:20px}
.sort .content .booklist dl dd:last-child{height:20px;overflow:hidden;line-height:18px}
.sort .content .booklist dl dd:last-child a{max-width:50%;float:left;text-align:left}
.sort .content .booklist dl dd:last-child span{float:right;border:1px solid #f60;padding:0 2px;margin-left:5px;font-size:12px;color:#f60}
.sort .content .booklist dl dd:last-child span:last-child{border-color:rgba(0,100,150,.5);color:rgba(0,100,150,.9)}
.sort .content .booklist ul li{padding:0 10px;height: 40px;line-height: 40px;overflow:hidden;}
.sort .content .booklist ul li:nth-child(2n+1){background-color:rgba(0,100,150,.05)}
.sort .content .booklist ul li a,.sort .content .booklist ul li span{float:left}
.sort .content .booklist ul li a{max-width:calc(100% - 115px)}
.sort .content .booklist ul li a:last-child{max-width:81px;float:right;text-align:right;font-size:13px}
.sort .content .booklist ul li span{display:block;background:rgba(0,100,150,.5);border-radius:20px;width: 16px;height: 16px;line-height: 16px;text-align:center;color:#fff;margin-right:5px;margin-top: 12px;font-size: 12px;}
.sort .content .booklist ul li:nth-child(1) span,.sort .content .booklist ul li:nth-child(2) span{background:#f60}
.rank .left .update li{padding:0 10px;height: 40px;line-height: 40px;overflow:hidden;}
.rank .left .update li:nth-child(2n){background-color:#eee}
.rank .left .update li a,.rank .left .update li span{float:left;font-size:13px}
.rank .left .update li a:nth-child(2),.rank .left .update li a:nth-child(3),.rank .left .update li span:nth-child(4){margin:0 5px}
.rank .left .update li span:first-child{width:40px}
.rank .left .update li a:nth-child(2){width:210px;font-size:14px}
.rank .left .update li a:nth-child(3){width:calc(100% - 440px)}
.rank .left .update li span:nth-child(4){width:80px}
.rank .left .update li span:last-child{float:right;text-align:right;width:80px}
.ranklist{width:auto;background: #fef9ef;border: 2px solid #c3dfea;}
.ranklist .content{padding:0 10px 10px;overflow:hidden}
.ranklist .content dl{width: calc((100% - 21px)/ 3);float:left;margin:10px 0 0 0;overflow:hidden;}
.ranklist .content dl:nth-child(3n+0),.ranklist .content dl:nth-child(3n+2){margin-left:10px}
.ranklist .content dl .cover{float:left;width: 80px;height: 100px;margin-right: 10px;}
.ranklist .content dl img{width: 80px;height: 100px;background:#f6f7f9;}
.ranklist .content dl dt{height:24px;line-height:24px;overflow:hidden;white-space:nowrap}
.ranklist .content dl dd{font-size:13px;text-align:justify;height: 56px;overflow:hidden;line-height: 18px;}
.ranklist .content dl dd.bookmark{height: 18px;overflow:hidden;line-height: 18px;}
.ranklist .content dl dd.history{height: 28px;overflow:hidden;line-height: 24px;}
.ranklist .content dl dd:last-child{height:20px;overflow:hidden;line-height:18px}
.ranklist .content dl dd:last-child a:first-child{max-width:50%;float:left;text-align:left}
.ranklist .content dl dd:last-child a:nth-child(2),.ranklist .content dl dd:last-child span{float:right;border:1px solid rgba(250,100,0,.5);padding:0 2px;margin-left:5px;font-size:12px;color:rgba(250,100,0,.8)}
.ranklist .content dl dd:last-child span:last-child{border-color:rgba(0,100,150,.5);color:rgba(0,100,150,.8)}
.read{background:rgba(255,255,255,.3);border:2px solid rgba(0,100,150,.3);padding:10px 10%}
.read h1{text-align:center;font-size:24px;padding:20px 0}
.read .readpage{text-align:center;padding:10px 0;border-top:1px solid rgba(0,100,150,.1);border-bottom:1px solid rgba(0,100,150,.1)}
.read .readpage a{margin:0 10px}
.read .readpage .gray{color:#999}
.read .readvote{margin-top:10px;text-align:justify;font-size: 12px;}
.read .readvote a+a:before{content:"\3001";margin-left:5px}
.read .content{font-size:24px;letter-spacing:.1em;text-align:justify;line-height:2}
.read .content p{text-indent:2em;margin:24px 0 0 0}
.read .content .report{text-align:center;font-size: 14px;}
.read .content .report a{color:#f60}
.read .content .report a:before{content:"\27a6"}
#readSet .rf{float:right;margin-left:10px}
#readSet .rc{color:#333;padding-left:10px}
#readSet a.ra{border:1px solid #ccc;display:inline-block;width: 16px;height: 16px;margin-right:5px;overflow:hidden;vertical-align:middle;margin-top: -2px;}
#readSet .rt{padding:0 5px}
.link{background:rgba(255,255,255,.5);border:2px solid rgba(0,100,150,.3)}
.link .content{padding:0 10px;line-height:40px}
.link .content a+a{margin-left:10px}
.pages{text-align:center;padding:15px 0 0 0;overflow:hidden}
.pagination{margin:0;display:inline-block;padding-left:0;background: #fef9ef;}
.pagination>li{display:inline}
.pagination>li>a,.pagination>li>span{position:relative;float:left;padding:5px 10px;margin-left:-1px;text-decoration:none;border: 1px solid #d7d7d7;}
.pagination>li>a:focus,.pagination>li>a:hover,.pagination>li>span:focus,.pagination>li>span:hover{z-index:2;background-color: #f0f0f0;}
.pagination>li:first-child>a,.pagination>li:first-child>span{margin-left:0}
.pagination>.active>a,.pagination>.active>a:focus,.pagination>.active>a:hover,.pagination>.active>span,.pagination>.active>span:focus,.pagination>.active>span:hover{z-index:3;cursor:default;color:#f60}
.pagination>.disabled>a,.pagination>.disabled>a:focus,.pagination>.disabled>a:hover,.pagination>.disabled>span,.pagination>.disabled>span:focus,.pagination>.disabled>span:hover{color:#777;cursor:not-allowed;background-color:#fff;border-color:#ddd}
.login{background: #fef9ef;border: 2px solid #c3dfea;}
.login form{padding:50px 25%}
.login form .form-group+.form-group{margin-top:20px}
.login form .form-group .form-title{float:left;width:60px;overflow:hidden;line-height:30px}
.login form .form-group .form-content{width:calc(100% - 60px);overflow:hidden}
.login form .form-group .form-content input{border:1px solid rgba(100,50,0,.2);width:100%;font-size:14px;line-height:30px;text-indent:10px}
.login form .form-submit{margin-top:30px;text-align:center}
.login form .form-submit button{border:1px solid rgba(0,100,150,.2);background-color:rgba(0,100,150,.1);border-radius:3px;font-size:100%;padding:5px 50px}
.login form .form-submit button:hover{background-color:#f60;color:#fff;border-color:#f60}
.footer{
    background: #f6f6f6;
    border-top: 1px solid #e5e5e5;
}
.footer p{text-align:center;font-size:12px;line-height:30px;}
