/*开发豆原创源码，唯一官网：www.kaifadou.com*/
.margin10{ margin-top: 10px;  }
/*Ê×Ò³*/
.scroll{ position: relative; overflow: hidden; }
.scroll_box{overflow:hidden;visibility:hidden;position:relative;}
.scroll_wrap{overflow:hidden; position:relative;}
.scroll_wrap li{position:relative;display:block;width:100%;float:left;}
.scroll_wrap li a{display:block;margin:0 auto;position:relative;}

.scroll_wrap li a img{ width: 100%; }
.scroll_wrap li a p{ position: absolute; bottom: 0px; left: 0px; background: url(../images/rgba50.png); height:36px; right: 0px; z-index: 1; text-align: center; padding: 5px 85px 0px 15px;overflow: hidden; text-align: left;}
.scroll_wrap li a p strong{display: block; height: 30px; line-height: 30px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;color: #fff; font-weight: normal;font-size: 16px;}
.scroll_position{position: absolute;right: 15px;z-index: 9;bottom: 10px;}
.scroll_position li{display:inline-block;width:14px;height:14px;border-radius:10px;background:#fff; margin: 0px 1px;}
.scroll_position li a{font-size:0;}
.scroll_position li.on{background-color:#19b5fe;}
.f-news-index ul li img{display: block !important;}


.g-title{ overflow: hidden; height:44px; padding: 0px 15px;background: #fff; border-bottom:1px solid #eee; }
.g-title strong{font-size:20px; font-style: normal;color: #333;display: inline-block;font-weight: normal; border-left:8px solid #19b5fe; text-indent:12px; height: 25px; line-height: 25px; font-weight: bold; margin-top:9px; }
a.u-more{font-size: 14px;color: #808080;float: right;background: url(../images/m-qqtn-more.png) no-repeat right center;background-size:7px;padding-right: 10px;margin-top: 12px;}

.g-nav-cout{ position: relative; overflow: hidden;}
.g-cms-nav{overflow: hidden; background:#fff;height: 41px; line-height: 41px; overflow-x: scroll;white-space: nowrap;-webkit-overflow-scrolling: touch;overflow-scrolling: touch; position: relative;padding-right: 41px;}
.g-cms-nav a{width:70px;-moz-box-sizing: border-box;box-sizing: border-box;display: inline-block;position:relative;height: auto;margin: 0 0 0 0;white-space: nowrap; text-align: center; font-size: 16px; color: #333;}
.g-nav-cout a.g-cms-alllink{width: 41px;height: 41px;line-height: 34px;font-size: 30px;font-weight: bold;color: #19B5FE;text-align: center;background: #fff;position: absolute;right: 0;top: 0;z-index: 20;
box-shadow: 0 -2px 3px #ccc;font-weight: normal;}

.g-today-cout{ background:#fff; overflow: hidden;}
.g-today{overflow: hidden;padding: 0px 15px; background-color: #fff;}
.g-today li {width: 100%;height: auto;padding: 10px 0;border-bottom: 1px dotted #f3f3f3;box-sizing: border-box;display: block;overflow: hidden;}
.g-today li:last-of-type{ border-bottom:0px;  }
.g-today li a {width: 100%;height: auto;display: -webkit-box;overflow: hidden;}
.g-today li a img {width: 162px;height:108px;overflow: hidden;}
.g-today li a strong {width: auto;height: auto;padding: 0 0px 0 10px;box-sizing: border-box;display: block;overflow: hidden;-webkit-box-flex: 1;}
.g-today li a strong b {width: 100%;height: 28px;line-height: 28px;font-size: 16px;font-weight: bold;color: #555;display: block;overflow: hidden;margin: 2px 0 0;}
.g-today li a strong p {width: 100%;height: 48px;line-height: 24px;font-size: 14px;font-weight: normal;color: #999;display: block;overflow: hidden;margin: 4px 0 0 0;}
.g-today li a strong span {display: block;height: 22px;line-height: 22px;color: #c5c5c5;font-weight: normal;margin-top: 4px;font-size: 14px;}

.g-xbtj-cout{ background-color:#fff; }
.g-xbtj-cout ul{ margin:0px 15px 0px 0px; overflow: hidden; padding-bottom: 10px; }
.g-xbtj-cout ul li{ width:50%; float: left;padding-left:15px; box-sizing: border-box; margin-top:15px; }
.g-xbtj-cout ul li a{ display: block; max-width: 320px; overflow: hidden; margin: 0px auto; }
.g-xbtj-cout ul li p{display: block;height:44px;line-height: 22px;padding: 1px 1px;font-size:14px;color: #333;overflow: hidden;}

.g-headimg-cont{overflow: hidden;}
.g-headimg{ overflow: hidden; background:#fff; padding: 12px 0px;font-size: 0;overflow-x: scroll;white-space: nowrap;-webkit-overflow-scrolling: touch;overflow-scrolling: touch;}
.g-headimg a{width:182px;-moz-box-sizing: border-box;box-sizing: border-box;margin-right:10px;display: inline-block;padding: 7.5px;border: 1px solid #f3f3f3; border-radius: 4px; position:relative;}
.g-headimg a p{width: 165px;overflow: hidden;font-weight: 400;white-space:initial; position: absolute;background: rgba(0,0,0,0.6); bottom:7.5px; left: 7.5px; }
.g-headimg a img{ width: 165px; height: 165px;}
.g-headimg-cont .g-headimg-pf a img{width: 158px; height:230px;border-radius: 4px;}
.g-headimg a p strong{font-size: 16px; padding:3px 6px; display: block; height:22px; line-height:22px; font-weight: normal;color: #fff; overflow: hidden;text-align: center;}
.g-headimg a:last-of-type {margin-right: 0;}
.scroll-module span {width:15px;height: 120px;display: inline-block;vertical-align: top;}

.g-dome-list{overflow: hidden; background-color: #fff;padding: 0px 15px 0px 15px;}
.g-dome-list li {width: 100%;height: auto;height:42px;line-height: 42px;overflow: hidden;border-bottom: 1px solid #f3f3f3;display: block;zoom: 1;background: url(../images/m-qqtn-more.png) no-repeat left center;background-size: 6px;text-overflow: ellipsis;white-space: nowrap;}
.g-dome-list li a {font-size: 16px;color: #666;padding: 0px 0px 0px 12px;}
.g-dome-list li:last-of-type{ border-bottom: 0px; }
.g-dome-bd{ background-color: #fff; display:none; position: relative;}
.g-dome-bd a.u-more{position: absolute;top: -86px;right: 15px;}
.g-dome-title {overflow: hidden;padding:10px 10px 0px 10px; background-color: #fff}
.g-dome-title li {display: block;float: left;width:23%; margin: 0px 1%; line-height:32px;height: 32px;border-radius:4px;cursor: pointer;text-align: center;vertical-align: middle;box-sizing: border-box;font-size:16px; color: #909090;background: #f2f2f2;}
.g-dome-title li.m-hover{ background: #0fafff; color: #fff;border-radius: 4px;}
.margin10 .m-hover{ display:block; }

























