/*验证码*/
.mac_verify_img {
    margin-left: 5px;
	vertical-align: middle;
}

.mac_comment,.mac_digg{font-size: 12px;}
.fl {float: left; _display: inline;}
.fr {float: right; _display: inline;}
.clearfix:after {visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0} .clearfix{*zoom:1;}

/*-Pages-*/
.mac_pages {text-align:center; padding:4px 0; overflow:hidden;}
.mac_pages .page_tip {margin-left:4px; font-weight:bold; color:#7f7f7f;  font-weight:normal;}
.mac_pages .page_link{display:inline-block; padding:2px 4px; border:1px solid #ddd; margin-left:4px;}
.mac_pages .page_link{display:inline-block; padding:2px 4px; border:1px solid #ddd; margin-left:4px;}
.mac_pages .page_current{display:inline-block; padding:2px 4px; background-color : #fee; border : 1px solid red; color : red; margin-left:4px;}
.mac_pages .page_input {margin-left:4px; height:22px; width:30px;}
.mac_pages .page_btn{border:1px solid #CCCCCC; height:24px; width:40px;text-align:center; cursor: hand;}
/*-/Page-*/


/*评论*/
.mac_comment { margin-top:5px; padding:10px; padding-left:10px; border:1px solid #C6D9E7;background-color: var(--bg); font-family: "Microsoft YaHei"; }


.mac_comment .clearfix::after {
	height: 0px; clear: both; font-size: 0px; display: block; visibility: hidden; content: " ";
}

.mac_comment .cmt_form {
	margin-bottom: 10px;
}
.mac_comment .face_wrap img {
	width: 50px; height: 50px;
}
.mac_comment .input_wrap {
	width: 98%; padding-left: 1%; position: relative;
}
.mac_comment .cmt_wrap .input_wrap {
	width: 98%;
}
.mac_comment .input_wrap textarea {
	background: #fff; border-width: 1px 1px medium; border-style: solid solid none;  border-radius: 3px 3px 0px 0px; width: 100%; height: 53px; line-height: 1.4; overflow: auto; padding-top: 8px; padding-left: 1%;color: #666;box-sizing: border-box;background-color: var(--bg);
}
.mac_comment .input_wrap .handle {
	position:relative;background-color: var(--bg); border-width: 1px; border-style:solid; border-color: rgb(187, 187, 187); border-top-color:#e5e5e5;border-radius: 0px 0px 3px 3px; width: 100%; height:46px; color: rgb(206, 206, 206);box-sizing: border-box;
}
.mac_comment .input_wrap .face{
	cursor: pointer;position: absolute;width: 42px;height: 45px;cursor: pointer;z-index: 2;
}
.mac_comment .input_wrap .face.curr{background: #fff;}
.mac_comment .input_wrap .face-box{display:none;padding: 8px 0 3px 5px;width: 280px;position: absolute;top: 44px;background: #fff;border: 1px solid #bbb;border-top-color:#e5e5e5;margin-left: -1px;z-index: 1;}
.mac_comment .input_wrap .face-box img{
	display:inline-block;margin: 2px;
}
.mac_comment .icon-face{display:block;width:42px;height:44px;background: url("../image/face.png") center no-repeat;}
.mac_comment .icon-face:hover,.mac_comment .input_wrap .face.curr .icon-face{background: url("../image/face-on.png") center no-repeat;}
.mac_comment .expression {
	background: url("../image/emotion2.png") no-repeat 0px 0px; margin: 6px 0px 0px 6px; width: 18px; height: 16px; display: block; cursor: pointer;
}
.mac_comment .expression:hover {
	background: url("../image/emotion2.png") no-repeat 0px -16px;
}
.mac_comment .remaining-w {
	float: left;margin-left: 42px;padding-left:20px;line-height:44px;border-left: 1px solid #e5e5e5; font-size: 14px;
}
.mac_comment .smt_wrap {
	width: 100%; margin-top: 8px;
}
.mac_comment .smt_wrap span {
	color: rgb(66, 66, 66);
}
.mac_comment .smt_wrap .total {
	font-size: 16px; font-weight: bold;
}
.mac_comment .smt_wrap span span {
	margin: 0px; padding: 0px;
}
.mac_comment .smt_wrap span a {
	margin: 0px 0px 0px 8px; color: rgb(49, 139, 183);
}
.mac_comment .smt .cmt_post:hover{background: #17abff;}
.mac_comment .smt .cmt_post {
	background: #169dea; border: currentColor; width: 81px; height: 30px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; font-size: 14px; margin-left: 20px; display: inline-block; cursor: pointer;vertical-align:middle;border-radius: 3px;
}
.mac_comment .smt .cmt_text {
	background: rgb(251, 251, 251); padding: 0px 8px; border-radius: 3px; border: 1px solid rgb(204, 204, 204); width:50px; height: 30px; line-height: 30px; margin-left: 5px;margin-right:2px;vertical-align:middle;
}
.mac_comment .smt .cmt_verify {
	 width: 80px; height: 30px; line-height: 30px;vertical-align:middle;
}

.mac_comment .smt input:hover {
	background-position: -1px -603px;
}
.mac_comment .smt{margin-top: 6px;margin-right: 12px;color: #454545;}
.mac_comment .sort_wrap {
	padding-bottom: 2px; border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: solid;
}
.mac_comment .sort_wrap a:hover {
	text-decoration: none;
}
.mac_comment .sort_wrap .current {
	color: rgb(49, 139, 183); font-weight: bold; border-bottom-color: rgb(43, 140, 230); border-bottom-width: 2px; border-bottom-style: solid;
}
.mac_comment .cmt_item {
	padding: 15px 0px 8px; width: 100%; color: rgb(153, 153, 153); border-bottom-color: rgb(215, 215, 215); border-bottom-width: 1px; border-bottom-style: dotted; _zoom: 1;
}
.mac_comment .item_con {
	width: 93%; padding-left: 1%;
}
.mac_comment .item_con p.top {
	padding: 0;
	width: auto;
	margin-bottom: 8px;
}
.mac_comment .item_con a {
	color: rgb(153, 153, 153);
}
.mac_comment .item_con a:hover {
	color: rgb(153, 153, 153); text-decoration: none;
}
.mac_comment .item_con .name {
	color: rgb(43, 140, 230);
}
.mac_comment .item_con .name:hover {
	color: rgb(1, 106, 159); text-decoration: none;
}
.mac_comment .item_con .con {
	color:#666; line-height: 20px; overflow: hidden; margin-top: 8px; -ms-word-wrap: break-word;
}
.mac_comment .item_con .bottom li {
	height: 16px; line-height: 15px; overflow: hidden; margin-right: 10px; float: left; _display: inline;
}
.mac_comment .item_con .bottom .reply {
	background: url("../image/rpy2.png") no-repeat 0px 0px; color: rgb(153, 153, 153); text-indent: 19px; font-size: 11px; display: block;
}
.mac_comment .item_con .bottom .reply:hover {
	color: rgb(1, 106, 159); text-decoration: none;
}
.mac_comment .item_con .bottom .bdshare_t {
	margin-top: -5px;
}
.mac_comment .item_con .bottom .bds_more {
	padding-top: 5px;
}
.mac_comment .inner {
	padding: 3px; border: 1px solid rgb(153, 153, 153); width: auto; background-color: rgb(254, 254, 241);
}
.mac_comment .inner .top {
	margin: 8px 0px 8px 3px;
}
.mac_comment .inner .con {
	margin: 5px 0px 5px 3px;
}
.mac_comment .inner .bottom {
	margin-bottom: 5px; visibility: hidden;
}
.mac_comment .mid_cmt_item {
	margin-top: 3px; border-top-color: currentColor; border-top-width: medium; border-top-style: none;
}
.mac_comment .pages {
	margin-top: 15px;
}
.mac_comment .item_con .gw-action{
	text-align: right;
}
.mac_comment .item_con .gw-action a{margin-left: 10px;}
.mac_comment .item_con a:hover{
	color: #333;
}
.mac_comment .item_con .click-ding-gw{margin-right: 10px;}
.mac_comment .item_con .click-ding-gw a,.mac_digg .click-ding-gw a{color: #f29898;}
.mac_comment .item_con .click-ding-gw a:hover,.mac_digg .click-ding-gw a{color: #f29898;}
.mac_comment .item_con .click-ding-gw a i,.mac_digg a i{display: inline-block;width: 14px;height: 14px;vertical-align: middle;}

.mac_comment .cmt_wrap .item_con .input_wrap{width: 100%;margin: 10px 0;padding-left: 0;}
.mac_comment .cmt_wrap .item_con .cmt_item{clear: left;border-bottom: none;}
.mac_comment .cmt_wrap .item_con .cmt_item .gw-action{text-align: left;clear: left;}
.mac_comment .cmt_wrap .item_con .cmt_item .gw-action a{margin-right: 10px;margin-left: 0;}




/*弹出层*/
.mac_pop_bg{position: fixed; z-index: 129; left: 0;top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2);}
.mac_pop {width:auto!important;background-color: var(--bg);  z-index:99998; display: none; min-height: 20px; max-height: 750px; position: fixed;  top: 0;  left: 0;  bottom: 0;  right: 0;  margin: auto;  padding: 25px;  z-index: 130;  border-radius: 8px;   box-shadow: 0 3px 18px rgba(0, 0, 0, .5);}
.mac_pop .pop_top{  height:40px;  width:100%;  border-bottom: 1px #E5E5E5 solid;}
.mac_pop .pop_top h2{  float: left; display:block;margin: 0;font-size: 18px;font-weight: normal;font-family:"microsoft yahei";}
.mac_pop span.pop_close{  float: right;width: 23px;height: 23px;font-size: 0;text-indent: 9999; cursor: pointer;  font-weight: bold; display:block;background: url("../image/background.png") -10px 0 no-repeat;}
.mac_pop .pop-foot{  height:50px;  line-height:50px;  width:100%;  border-top: 1px #E5E5E5 solid;  text-align: right;  }
.mac_pop .pop-cancel, .pop-ok {  padding:8px 15px;  margin:15px 5px;  border: none;  border-radius: 5px;  background-color: #337AB7;  color: #fff;  cursor:pointer;  }
.mac_pop .pop-cancel {  background-color: #FFF;  border:1px #CECECE solid;  color: #000;  }
.mac_pop .pop-content{  height: 380px;  }
.mac_pop .pop-content-left{  float: left;  }
.mac_pop .pop-content-right{  width:310px;  float: left;  padding-top:20px;  padding-left:20px;  font-size: 16px;  line-height:35px;  }
.mac_pop .bgPop{  display: none;  position: absolute;  z-index: 129;  left: 0;  top: 0;  width: 100%;  height: 100%;  background: rgba(0,0,0,.2);  }
.mac_pop .pop-msg{  text-align:center;  font-size: 14px;  }

.mac_pop_msg_bg{position: fixed; z-index: 129; left: 0;top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.2);}
.mac_pop_msg { z-index:99999; display: none; min-height: 20px; max-height: 750px; position: fixed;  top: 0;  left: 0;  bottom: 0;  right: 0;  margin: auto;  padding: 25px;  z-index: 130;  border-radius: 8px;  background-color: #fff;  box-shadow: 0 3px 18px rgba(0, 0, 0, .5);}
.mac_pop_msg .pop-msg{  text-align:center;  font-size: 14px;  }
textarea.gbook_content {
    background-color: var(--bg);
    word-break: break-all;
    color: var(--color);
}