ul.control-box {
    float: right;
    margin:  0;
}
ul.control-box li {
    margin-top: 5px;
    margin-left: 5px;
}
.control-box .btn.btn-sm.btn-default {
    padding: 0;
    display: inline-flex;
}
.control-box .btn.btn-sm.btn-default a {
    padding: 5px 10px;
}
.playbox {background-color: #fff;}
.playerbox{height: 470px;width: 100%;background-color: #000;overflow: hidden;}
.dplayer, div#player {height: 100%;width: 100%;}
.videotitle {padding: 5px;background-color: #fff;margin-bottom: 10px;}
.videotitle h1{font-size: 0.6rem;padding:  0;margin:  0;display: inline-block;}
.videotitle h1 span {font-size: 0.5rem;padding:  0 15px;font-weight: normal;}
.mgplaylist {background-color: #fff;}
.tab a:visited,.tab a:hover {color: #444444;background-color: #FFFFFF;border: 1px solid #444444;}
.tab a {line-height: 15px;font-size: 12px;background-color: #444444;margin-right: 2px;border: 1px solid #444444;padding: 8px 5px;display: inline-block;border-radius: 4px;color: #fff;margin: 0.1rem;margin-top: 0.2rem;cursor: pointer;min-width: 1.3rem;text-align: center;}
section.tab {padding: 10px;}
nav li{display: inline;width: 24%;text-decoration: none;padding: 5px 15px;cursor: pointer;}
nav ul {margin:  0;padding: 5px 10px;border-bottom: 2px solid #646464;margin-bottom: 5px;font-size: 18px;line-height: 0.35rem;font-weight: 800;display: table;width: 100%;}
nav#playnav {padding-top: 20px;}
li.act {border: 2px solid #646464;border-bottom: 2px solid #ffffff;padding-bottom: 1px;background-color: #fff;}
.videotitle p {margin: 5px 0;color: red;}
.mgbox {margin-top: 10px;background-color: #fff;display: inline-block;padding: 5px;}
.mgbox .title {
    padding-top: 8px;
}
.mgbox .m-movies{margin: 0;}
.plyaer_box {background-color: #444;margin-top: -45px;}
.player_box_content {width: 1700px;margin: 0 auto;padding-top: 10px;height: 905px;}
.player_box_left {width: 1385px;float: left;}
.player_box_right {width:  300px;margin-left: 15px;float: left;}
h4.vtitle{margin:0;}
.choose{position: absolute;z-index: 999;right: 320px;top: auto;}
.vtitle span{margin-left:  10px;font-size: 0.5rem;color: #e6a516;}
.play-comments {background-color:#fff;padding:10px;margin-top:8px;}
@media (max-width: 560px){
	.dplayer {height: 200px;}
	section.tab {padding: 5px;}
	.videotitle {padding: 0;margin: 0;}
	.playerbox{height: 200px;}
  	ul.control-box {
    display:  none;
}
}

/*--------------SLIDER----------------*/
ul.PICslides.clearfix {
    padding: 0px;
}
ul.PICcontrols {
    position: relative;
    margin: -35% 0!important;
}
#PICslider {
	width: 100%;
	margin: 10px auto;
	padding: 0;
	overflow: hidden;
}
#PICslider ol, ul {
	list-style: none;
}
.PICcontrols li {
	/* top: 55%; */
}
.PICcontrols li:nth-child(1) {
	left: 1%;
}
.PICcontrols li:nth-child(2) {
	right: 1%;
}
.PICpagination li {
	background-color: #ddd;
}

.PICpagination li.active {
	background-color: #000;
}
.responsive {
	width: 100%;
	height: auto;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}
ul.PICpagination {
    left: 38%;
    display: table;
    bottom: 30px;
}
.PICslides li {
    text-align: -webkit-center;
}
.no-resource {
    text-align: center;
    font-size: 0.45rem;
    padding: 20px 0;
    color: #e7a518;
}
@media (max-width: 480px){
	.PICcontrols li:nth-child(1) {
	left: 2%;
}
ul.PICpagination {
    left: 25%;
}
.PICcontrols li {
	top: 33%;
}
}
/*--------------SLIDER END----------------*/